@model Reserva.Models.Armamento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Visualizar</h2>

<div>
    <h4>Armamento</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Fabricante
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fabricante.Descricao)
        </dd>

        <dt>
            Nº Serie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NSerie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            Munição
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municao.Descricao)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-adn" onclick='location.href="@Url.Action("Index")"'>Voltar</button>
    <button type="button" class="btn btn-primary" onclick='location.href="@Url.Action( "Edit", new { id = Model.Id })"'>Editar</button>
</p>

