@model Reserva.Models.Armamento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Armamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Almoxarifado.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Almoxarifado.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fabricante.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fabricante.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NSerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NSerie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicaoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicaoId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Tombo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
