@model Reserva.Models.Acessorio

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Tem certeza de que deseja excluir esse Acessorio ?</h3>
<div>
    <h4>Acessorio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fabricante
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fabricante.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <br>
        <div class="form-actions no-color">
            <button type="button" class="btn btn-adn" onclick='location.href="@Url.Action("Index")"'>Voltar</button>
            <input type="submit" value="Deletar" class="btn btn-danger" />
        </div>
    }
</div>
