@model Reserva.Models.Municao

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Municao</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Fabricante
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fabricante.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            Quantidade Bala
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeBala)
        </dd>

        <dt>
            Calibre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calibre.Descricao)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <br>
        <div class="form-actions no-color">
            <button type="button" class="btn btn-adn" onclick='location.href="@Url.Action("Index")"'>Voltar</button>
            <input type="submit" value="Deletar" class="btn btn-danger" />
        </div>
    }
</div>
