@model Reserva.Models.Municao

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Municao</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Fabricante
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fabricante.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            Quantidade Bala
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeBala)
        </dd>

        <dt>
            Calibre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calibre.Descricao)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-adn" onclick='location.href="@Url.Action("Index")"'>Voltar</button>
    <button type="button" class="btn btn-primary" onclick='location.href="@Url.Action( "Edit", new { id = Model.Id })"'>Editar</button>
</p>
